<b>
<p>
<center>
<font size="5">
Popular Machine Learning Methods: Idea, Practice and Math
</font>
</center>
</p>

<p>
<center>
<font size="4">
Max, Michael, and Yaswanth
</font>
</center>
</p>

<p>
<center>
<font size="3">
DATS 6202 Machine Learning I
</font>
</center>
</p>

---



---

## Google Drive

In [74]:
from google.colab import drive
import sys

# Mount Google Drive
drive.mount('/content/drive')

# Get the path of the data directory
data_dir='/content/drive/My Drive/Colab Notebooks/DATS6202_machine_learning/Group Project/Data/'

# Get the absolute path of the shallow utilities folder
abspath_util_shallow = '/content/drive/My Drive/Colab Notebooks/DATS6202_machine_learning/Utilities'

# Get the absolute path of the shallow models folder
abspath_model_shallow = '/content/drive/My Drive/Colab Notebooks/DATS6202_machine_learning/Models'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Data Preprocessing

In [75]:
# Change working directory to the absolute path of the shallow utilities folder
%cd $abspath_util_shallow

# Import the shallow utitilities
%run pmlm_utilities_shallow.ipynb

/content/drive/My Drive/Colab Notebooks/DATS6202_machine_learning/Utilities

### Load Data

In [76]:
import pandas as pd

# Load movie metadata
df_movie_meta=pd.read_csv(data_dir+'movies_metadata.csv')

# Load movie keywords
df_keywords=pd.read_csv(data_dir+'keywords.csv')

# Load movie credits
df_credits=pd.read_csv(data_dir+'credits.csv')

# Load IMDB movie ratings
df_ratings=pd.read_csv(data_dir+'movie_ratings.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Combine Datasets

In [77]:
# Combine dataframes into one along axis=1
df_movies=pd.concat([df_movie_meta, df_ratings['rating_count'], df_ratings['average_rating'], df_credits, df_keywords], axis=1)

### Drop Unecessary Columns


*   'adult'
*   'homepage'
*   'original_title'
*   'poster_path'
*   'status'
*   'video'
*   'vote_average'
*   'vote_count'

In [78]:
df_movies=df_movies.drop(['adult', 'homepage', 'original_title', 'poster_path', 'status', 'video', 'vote_average', 'vote_count'], axis=1)

In [79]:
df_movies.head()

,belongs_to_collection,budget,genres,id,imdb_id,original_language,overview,popularity,production_companies,production_countries,...,spoken_languages,tagline,title,rating_count,average_rating,cast,crew,id,id,keywords
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,Toy Story,989309.0,8.263133,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862.0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Roll the dice and unleash the excitement!,Jumanji,346243.0,7.154995,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844.0,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,27940.0,6.834252,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602.0,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Friends are the people who let you be yourself...,Waiting to Exhale,11148.0,6.234123,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357.0,31357,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,38849.0,6.274756,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862.0,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

### Deal with Identifiers


*   'id'
*   'imdb_id'

In [80]:
df_movies=df_movies.drop(['id', 'imdb_id'], axis=1)

In [81]:
df_movies.columns

Index(['belongs_to_collection', 'budget', 'genres', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'tagline', 'title', 'rating_count',
       'average_rating', 'cast', 'crew', 'keywords'],
      dtype='object')

### Deal with Missing Values

In [82]:
# Call nan_checker on df
# See the implementation in pmlm_utilities.ipynb
df_nan = nan_checker(df_movies)

# Print df_nan
df_nan

                      var  proportion    dtype
0   belongs_to_collection    0.903186   object
1                 tagline    0.560266   object
2                overview    0.041082   object
3                 runtime    0.026196  float64
4            release_date    0.022405   object
5          average_rating    0.021586  float64
6            rating_count    0.020961  float64
7       original_language    0.020767   object
8                   title    0.020660   object
9        spoken_languages    0.020660   object
10                revenue    0.020660  float64
11             popularity    0.020638   object
12   production_countries    0.020595   object
13   production_companies    0.020595   object
14                 budget    0.020530   object
15                 genres    0.020530   object
16                   cast    0.020315   object
17                   crew    0.020315   object

Drop columns with greater than 50% of values missing.

In [83]:
df_movies=df_movies.drop(['belongs_to_collection', 'tagline'], axis=1)

Fill blank cells with na

In [84]:
import numpy as np

df_movies=df_movies.replace(r'^\s*$', np.nan, regex=True)

Drop rows with missing values.

In [85]:
df_movies=df_movies.dropna()

In [86]:
df_movies.head(2)

,budget,genres,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,rating_count,average_rating,cast,crew,keywords
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,989309.0,8.263133,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,346243.0,7.154995,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

### Handling Date Time Variables

In [87]:
# get the date time variables
datetime_vars=['release_date']

In [88]:
# Call datetime_transformer on df_train
# See the implementation in pmlm_utilities.ipynb
df_movies = datetime_transformer(df_movies, datetime_vars)

In [89]:
# Print the first 5 rows of df_train
df_movies.head(2)

,budget,genres,original_language,overview,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,...,average_rating,cast,crew,keywords,release_date_year,release_date_month,release_date_day,release_date_hour,release_date_minute,release_date_second
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,8.263133,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1995,10,30,0,0,0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,7.154995,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",1995,12,15,0,0,0

### Handling Categorical Variables

Pulling data out from dictionaries and list for the following variables:
- Genre
- Production Companies
- Production Countries
- Spoken Languages
- Cast
- Crew
- Keywords

In [90]:
# List of columns to parse names from
columns=['genres', 'production_companies', 'production_countries', 'spoken_languages', 'cast', 'crew', 'keywords']

# Cycle through columns and pull names
import ast
for column in columns:
  # Remove row with empty values
  df_movies = df_movies.loc[df_movies[column]!='[]']
  # remove dictionary values from list
  df_movies[column] = df_movies[column].apply(lambda x: x[1:-1])
  dicts =  []
  for dict in df_movies[column]:
    # print(dict)
    my_dict = ast.literal_eval(dict)
    # print(my_dict)
    dicts.append(my_dict)
  movies=[]
  for x in range(len(dicts)):
      names=[]
      movie=dicts[x]
      for y in range(len(movie)):
          if str(type(movie))!="<class 'tuple'>":
              name=movie['name']
          if str(type(movie))=="<class 'tuple'>":
              name=movie[y]['name']
          names.append(name)
      unique_names=[]
      for x in names:
        if x not in unique_names:
          unique_names.append(x)
      movies.append(unique_names)

  df_movies[column]=movies

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [91]:
df_movies.head(3)

,budget,genres,original_language,overview,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,...,average_rating,cast,crew,keywords,release_date_year,release_date_month,release_date_day,release_date_hour,release_date_minute,release_date_second
0,30000000,"[Animation, Comedy, Family]",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],373554033.0,81.0,[English],...,8.263133,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[John Lasseter, Joss Whedon, Andrew Stanton, J...","[jealousy, toy, boy, friendship, friends, riva...",1995,10,30,0,0,0
1,65000000,"[Adventure, Fantasy, Family]",en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],262797249.0,104.0,"[English, Français]",...,7.154995,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[Larry J. Franco, Jonathan Hensleigh, James Ho...","[board game, disappearance, based on children'...",1995,12,15,0,0,0
2,0,"[Romance, Comedy]",en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],0.0,101.0,[English],...,6.834252,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[Howard Deutch, Mark Steven Johnson, Jack Keller]","[fishing, best friend, duringcreditsstinger, o...",1995,12,22,0,0,0

In [94]:
# Save clean but unencoded dataframe
df_movies.to_csv(data_dir+'movies_clean.csv')

## Load movies_clean.csv here

One-hot-encoding multi-label categorical variables

In [44]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb=MultiLabelBinarizer()

# One-hot encode genre
genre_array=mlb.fit_transform(df_movies['genres'])
df_genres=pd.DataFrame(genre_array, columns=mlb.classes_)

# One-hot encode production_companies
production_companies=mlb.fit_transform(df_movies['production_companies'])
df_companies=pd.DataFrame(production_companies, columns=mlb.classes_)

# One-hot encode production_countries
production_countries=mlb.fit_transform(df_movies['production_countries'])
df_countries=pd.DataFrame(production_countries, columns=mlb.classes_)

# One-hot encode spoken_languages
languages=mlb.fit_transform(df_movies['spoken_languages'])
df_languages=pd.DataFrame(languages, columns=mlb.classes_)

# One-hot encode cast
cast_array=mlb.fit_transform(df_movies['cast'])
df_cast=pd.DataFrame(cast_array, columns=mlb.classes_)

# One-hot encode crew
crew_array=mlb.fit_transform(df_movies['crew'])
df_crew=pd.DataFrame(crew_array, columns=mlb.classes_)

# One-hot encode keywords
keywords_array=mlb.fit_transform(df_movies['keywords'])
df_keywords=pd.DataFrame(keywords_array, columns=mlb.classes_)

In [45]:
# Rename columns
df_genres=df_genres.add_prefix('Genre_')
df_companies=df_companies.add_prefix('Company_')
df_countries=df_countries.add_prefix('Country_')
df_languages=df_languages.add_prefix('Language_')
df_cast=df_cast.add_prefix('Cast_')
df_crew=df_crew.add_prefix('Crew_')
df_keywords=df_keywords.add_prefix('Keywords_')

In [21]:
df_genres.head(2)

,Genre_,Genre_',"Genre_,",Genre_0,Genre_1,Genre_2,Genre_3,Genre_4,Genre_5,Genre_6,...,Genre_n,Genre_o,Genre_r,Genre_s,Genre_t,Genre_u,Genre_v,Genre_y,Genre_{,Genre_}
0,1,1,1,1,1,0,1,0,1,1,...,1,1,0,0,1,0,0,1,1,1
1,1,1,1,1,1,1,0,1,1,0,...,1,0,1,1,1,1,1,1,1,1

In [46]:
# Reset dataframe indices
df_movies.reset_index(inplace=True)
df_genres.reset_index(inplace=True)
df_companies.reset_index(inplace=True)
df_countries.reset_index(inplace=True)
df_languages.reset_index(inplace=True)
df_cast.reset_index(inplace=True)
df_crew.reset_index(inplace=True)
df_keywords.reset_index(inplace=True)

In [47]:
# Concatenate dataframes
df_movies=pd.concat([df_movies, df_genres, df_companies, df_countries, df_languages, df_cast, df_crew, df_keywords], axis=1)

In [52]:
# Drop unencoded columns
for column in columns:
  df_movies.drop(column, axis=1, inplace=True)

In [53]:
df_movies.head(2)

,index,budget,original_language,overview,popularity,revenue,runtime,title,rating_count,average_rating,...,Keywords_카,Keywords_턴,Keywords_투,Keywords_트,Keywords_하,Keywords_한,Keywords_험,Keywords_형,Keywords_호,Keywords_화
0,0,30000000,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,Toy Story,989309.0,8.263133,...,0,0,0,0,0,0,0,0,0,0
1,1,65000000,en,When siblings Judy and Peter discover an encha...,17.015539,262797249.0,104.0,Jumanji,346243.0,7.154995,...,0,0,0,0,0,0,0,0,0,0